@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

$card-height: 100%;
$primary-color: #77c2ad;

.container {
  h1 {
    text-align: center;
  }
  ul {
    list-style: none;
  }
}
