@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

$card-height: 100%;
$primary-color: #77c2ad;

.careCards {
  margin-bottom: 5rem;
  .col {
    margin-bottom: 2rem;
  }
  img {
    max-height: 20rem;
    max-width: 10rem;
  }
  .card {
    height: $card-height;
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
  }

  .careguide-card-body {
    flex-flow: column-reverse;
    display: flex;
  }

  .card-title {
    text-align: center;
  }
}

.airPlantImg {
  justify-content: center;
}

.margin-bottom-extended {
  margin-bottom: 1rem;
}

.careGuideCards {
  background-image: url("../../images/parabolic-pentagon.svg");
  box-shadow: 0 0 18px 18px white inset;
  background-position: center;
  background-size: 160%;

  transition: all .5s;
  transition-property: background-size, transform, box-shadow;
}
.careGuideCards:hover {
  background-size: 200%;
  transform: scale(1.05);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.article {
  .row {
    .col{
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.headerImage {
  margin: auto;
  display: block;

  @include media-breakpoint-down(sm) {
    width: 200px;
  }
}